<h2>Ad show</h2>
<p>car_model: <%= @ad.car_model.name %></p>
<p>make: <%= @ad.car_model.make.name %></p>
 <p>location: <%= @ad.location %></p>
<p>year: <%= @ad.year %></p>
<p>price: <%= @ad.price %></p>
<p>millage: <%= @ad.millage %>Km</p>
<p>fuel: <%= human_fuel(@ad.fuel) %></p>
<p>usage: <%= usage(@ad.usage_type) %></p>
<p>girbox: <%= human_girbox(@ad.girbox) %></p>
<p>detail: <%=  @ad.details %></p>
<p>body color: <%=  COLORS[@ad.body_color_id] %></p>
<p>internal color: <%=  COLORS[@ad.internal_color_id] %></p>

<p>tel: <%=  @ad.ad_other_field.tel %></p>
<%= link_to "source", @ad.ad_other_field.source_url %>
<br>
<% @ad.image_urls.each do |img| %>
  <%= image_tag img.url %>
<% end %>