<div id="ad_show" class="panel panel-default">

  <div class="panel-heading">

    <%= link_to last_search do %>
      <div class="back_to_search pull-left btn btn-link">
        <span><%= t(".back_to_search") %></span>
        <span class="glyphicon glyphicon-backward"></span>
      </div>
    <% end %>
    <h2 class="title">
      <%= t"vehicle" %> <%= @ad.make_name %>&nbsp;
      <%= @ad.car_model_name %>،&nbsp;
      <%= t "First registration from" %> <%= appropriate_year(@ad) %>
    </h2>
  </div>

  <div id="main-panel-body" class="panel-body">
    <div id="image_section" class="col-sm-5 internal-section">
      <%= render 'ads/show/image_section' %>
    </div>

    <div id="car_details" class="col-sm-4 internal-section">
      <%= render 'ads/show/car_details' %>
    </div>

    <div id="user_overview" class="col-sm-3 internal-section">
      <%= render 'ads/show/user_overview' %>
    </div>
  </div>

  <div id="recommended_ads-panel-body" class="panel-body">
    <%= render 'ads/show/recommended_ads' %>
  </div>
</div>