<%= form_for(@make) do |f| %>
  <% if @make.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@make.errors.count, "error") %> prohibited this make from being saved:</h2>

      <ul>
      <% @make.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= f.label :year_format, "Year _Format" %>
    <p>shamsi: <%= f.radio_button :year_format, :true %></p>
    <p>miladi: <%= f.radio_button :year_format, :false %></p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
