<div class="thumb-title search_col col-xs-7 ">
  <div class="thumb ">
    <%= thumb_image ad %>
  </div>

  <div class="title ">
    <%= ad_title ad %>
  </div>
  <div class="truncate small">
    <%= truncate_details ad %>
  </div>
</div>

<div class="city search_col col-xs-2 ">
  <div><%= ad.location %></div>
</div>

<div class="date search_col col-xs-2 ">
  <div><%= date_human ad.created_at %></div>
</div>

<div class="price search_col col-xs-1 ">
  <div class="amount">
    <%= price_human ad.price  %>
  </div>  
</div>
