<!DOCTYPE html>
<html lang="fa">
<head>
  <title>
    <% if @page_title %>
      <%= @page_title %>
    <% else %>
      <%= t"site_name" %>
    <% end %>
  </title>
  <meta name="LANGUAGE" content="fa" />
  <meta name="alexaVerifyID" content="Ogj7Kbu_aEuXa6iYTTgInkTjsZg"/>
  <meta name="description" content="خودرو کارکرده &#10004; خودرو صفر &#10004; خرید و فروش خودرو &#10004; فروش خودرو &#10004; خرید خودرو &#10004;">


  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>